.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 5vw;
  font-weight: bolder;
}

.nav-link{
  font-family: 'Amatic SC', cursive;
  font-size: 3.5vw;
  font-weight: bold;
  
}

#navbar {
  background-color: #02C39A;
}

.dropdown-item{
  font-family: 'Amatic SC', cursive;
  font-size: 2.75vw;
  font-weight: bold;
}

#loginText{
  margin-left: 450px;
}
