h3 {
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 10vw;
}

#titleCursiveText {
  font-size: 5vw;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;

}

#crowd-funding{
  border: 5px solid white;
  box-shadow: #555 1px 1px 8px 1px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.main-content{
  background-color: #E7F9F5;
  padding-bottom: 540px;
}
